<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://github.com/inxilpro/ant-farm/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>bA1sl1HrvwpXicvAwazlXX2ntAhNY+EnDGZWLl26il4=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
